@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.App {
  text-align: center;
  height: 100vh;
  background-color: black;
}

.text{
  color: white;
}

p{
  font-family: 'Cedarville Cursive', cursive;
}